@import "../../styles/variables.scss";

.arrows {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 160px;
  height: 84px;
  background: black;
  display: flex;
  justify-content: space-between;
  @media (max-width: $desktop) {
    left: unset;
    right: 0;
    width: 100px;
    height: 54px;
  }
}

.arrow {
  width: 10px;
}

.button {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  width: 100%;
  cursor: pointer;
  &:hover {
    background: $veryDarkGray;
  }
}
