@import "../../styles/variables.scss";

.arrows {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 174px;
  height: 84px;
  background: black;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1000px) {
    left: unset;
    right: 0;
  }
}

.button {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  width: 100%;
  cursor: pointer;
}
