@import "../../styles/variables.scss";

.wrapper {
  display: flex;
  max-width: 100vw;
  @media (max-width: $desktop) {
    flex-direction: column;
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding: 80px 60px;
  @media (max-width: 1000px) {
    padding: 40px 20px;
  }
}

.paragraph {
  line-height: 20px;
  font-size: 0.8rem;
  color: hsl(0, 0%, 63%);
}

.title {
  color: $black;
  font-size: 14px;
  letter-spacing: 6px;
  font-weight: 600;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  @media (max-width: $desktop) {
    font-size: 12px;
  }
}
