@import "./styles/variables.scss";

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  background: $white;
}

.top-wrapper {
  display: flex;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
}
