@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  background: hsl(0, 0%, 63%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
