@import "../../styles/variables.scss";

.slider {
  background: url("../../images/desktop-image-hero-1.jpg");
  background-size: cover;
  width: 60%;
  max-width: 894px;
  height: 570px;
  color: $white;
  position: relative;
  @media (max-width: 1000px) {
    width: 100%;
    background: url("../../images/mobile-image-hero-1.jpg");
    background-size: cover;
  }
}

.navWrapper {
  display: flex;
  align-items: center;
  margin: 50px 0 0 70px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navListItem {
  padding: 0 18px;
  font-size: 12px;
  font-weight: 500;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 500;
}
