@import "../../styles/variables.scss";

.slider {
  background-size: cover;
  width: 60%;
  max-width: 894px;
  height: 570px;
  color: $white;
  position: relative;
  transition: background-image 0.5s ease-in-out;
  @media (max-width: $desktop) {
    width: 100%;
    max-width: unset;
    background-size: cover;
  }
}

.bg1 {
  background-image: url("../../images/desktop-image-hero-1.jpg");
  @media (max-width: $desktop) {
    background-image: url("../../images/mobile-image-hero-1.jpg");
  }
}
.bg2 {
  background-image: url("../../images/desktop-image-hero-2.jpg");
  @media (max-width: $desktop) {
    background-image: url("../../images/mobile-image-hero-2.jpg");
  }
}
.bg3 {
  background-image: url("../../images/desktop-image-hero-3.jpg");
  @media (max-width: $desktop) {
    background-image: url("../../images/mobile-image-hero-3.jpg");
  }
}

.hamburger {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 58px;
  left: 40px;
  background: none;
  border: none;
  cursor: pointer;
  @media (min-width: $desktop) {
    display: none;
  }
}

.navWrapper {
  display: flex;
  align-items: center;
  margin: 50px 0 0 70px;
  @media (max-width: $desktop) {
    justify-content: center;
  }
}

.navWrapperMobileOpen {
  background: white;
  margin: 0;
  height: 150px;
  transition: opacity 2s;
  color: $black;
  justify-content: flex-end;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  @media (max-width: $desktop) {
    margin-bottom: 4px;
    margin-right: 20px;
  }
}

.navList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navListItem {
  padding: 0 18px;
  font-size: 12px;
  font-weight: 600;
  @media (max-width: $desktop) {
    padding: 0 12px;
  }
}

.title {
  margin: 0;
  padding: 0;
  @media (max-width: $desktop) {
    transform: translateX(-50%);
  }
}

.hide {
  display: none;
}
